h1, h5 {
    font-weight: bold;
    font-family: 'PT Serif', serif !important;
}

p {
    color: #4c1a00;
    font-family: 'PT Serif Caption', serif !important;
}

.form-group.required .control-label:after { 
    content:"*";
    color:red;
 }
