/* You can add global styles to this file, and also import other style files */
$primary: #FF5900;
$primary2: #ebebeb;
$primary3: #4c1a00;

$secondary: #4AFF19;
$secondary2: #ecffe8;
$secondary3: #daffd1;

$terciary: #1E19FF;
$terciary2: #e8e8ff;
$terciary3: #d2d1ff;

$alt5: #c0c0c0;
$alt6: #222222;