<div style="background-color: #d2d1ff;" class="d-flex justify-content-center">
    <div class="card" style="width: 70rem; margin: 5%; background-color: #e8e8ff; box-shadow: 0px 5px 8px 0px gray; padding: 2%;">
        <div class="card-body">
          <div class="row">
              <div class="col-sm-12 col-md-6">
                  <h1 class="card-title" style="text-align: center;">Nuestros Servicios</h1>
                  <p class="card-text" style="text-align: justify;">Asesoría de gestión, técnica, operativa, económica y financiera a empresas, abarcando relevamiento operativo, mapeo de procesos, gestión de recursos humanos, diseño e implementación de herramientas de gestión y control, confección de presupuestos económicos y financieros, control presupuestario y de facturación, evaluación de proveedores y sistemas de provisión de servicios,  toma de datos operativos online, tutorías de funciones operativas, capacitación operativa, administrativa y contable, desarrollo de gestión de compras, elaboración de estrategias para el manejo de proveedores, análisis de costo laboral. Provisión de servicios a las empresas del sector energía: incluyendo el personal, equipamiento y los productos asociados para la adecuada prestación de los mismos. Provisión de personal tercerizado para distintas funciones en organizaciones del sector energía.</p>
                  
              </div>
            <div class="col-sm-12 col-md-6 d-flex justify-content-center">
                <img src="../../../assets/img/YPF-pozo.jpg" alt="Pozo" width="80%">
            </div>
          </div>  
        </div>
      </div>
</div>