<div style="background-color: #d2d1ff;" class="d-flex justify-content-center">
    <div class="card" style="width: 70rem; margin: 5%; background-color: #e8e8ff; box-shadow: 0px 5px 8px 0px gray; padding-top: 2%; padding-right: 2%; padding-left: 2%;">
        <div class="card-body">
          <div class="row">
              <div class="col-sm-12 col-md-6">
                  <h1 class="card-title" style="text-align: center;">Nuestros Servicios</h1>
                  <p class="card-text" style="text-align: justify;">Asesoría de gestión, técnica, operativa, económica y financiera a empresas, abarcando relevamiento operativo, mapeo de procesos, gestión de recursos humanos, diseño e implementación de herramientas de gestión y control, confección de presupuestos económicos y financieros, control presupuestario y de facturación, evaluación de proveedores y sistemas de provisión de servicios,  toma de datos operativos online, tutorías de funciones operativas, capacitación operativa, administrativa y contable, desarrollo de gestión de compras, elaboración de estrategias para el manejo de proveedores, análisis de costo laboral. Provisión de servicios a las empresas del sector energía: incluyendo el personal, equipamiento y los productos asociados para la adecuada prestación de los mismos. Provisión de personal tercerizado para distintas funciones en organizaciones del sector energía.</p>
                  
              </div>
            <div class="col-sm-12 col-md-6 d-flex justify-content-center">
                <img src="../../../assets/img/YPF-pozo.jpg" alt="Pozo" width="80%">
            </div>
          </div>
          <div class="row">
            <div class="col">
              <div id="accordion" class="py-5">
                <div class="card border-0 wow fadeInUp" style="visibility: visible; animation-name: fadeInUp;">
                    <div class="card-header p-0 border-0" id="heading-240">
                        <button class="btn btn-link accordion-title border-0 collapsed" data-toggle="collapse" data-target="#collapse-240" aria-expanded="false" aria-controls="#collapse-240">
                          <i class="fas fa-minus text-center d-flex align-items-center justify-content-center h-100"></i>
                          Ver Servicios
                        </button>
                    </div>
                    <div id="collapse-240" class="collapse " aria-labelledby="heading-240" data-parent="#accordion">
                        <div class="card-body accordion-body">
                          <div class="row">
                             <div class="col-md-6 col-sm-12">
                                <p><i class="fas fa-check"></i>  Estudios para la optimización de costos operativos</p>
                                <p><i class="fas fa-check"></i>  Gestión de mantenimiento y producción</p>
                                <p><i class="fas fa-check"></i>  Auditoria y optimización de procesos y producción</p>
                                <p><i class="fas fa-check"></i>  Gestión de RRHH</p>
                                <p><i class="fas fa-check"></i>  Auditorias operativas de gestión</p>
                                <p><i class="fas fa-check"></i>  Tutorías de funciones operativas</p>
                                <p><i class="fas fa-check"></i>  Capacitación operativa, administrativa y contable</p>
                                <p><i class="fas fa-check"></i>  Desarrollo de la gestión de compras</p>
                                <p><i class="fas fa-check"></i>  Estrategias para el manejo de proveedores</p>
                                <p><i class="fas fa-check"></i>  Asesoramiento sobre el costo laboral</p>
                             </div>
                             <div class="col-md-6 col-sm-12">
                                <p><i class="fas fa-check"></i>  Relevamientos operativos</p>
                                <p><i class="fas fa-check"></i>  Confección de presupuestos económicos financieros</p>
                                <p><i class="fas fa-check"></i>  Control presupuestario y de facturación</p>
                                <p><i class="fas fa-check"></i>  Mapeo de procesos (Método Brown Paper)</p>
                                <p><i class="fas fa-check"></i>  Identificación de áreas de mejora</p>
                                <p><i class="fas fa-check"></i>  Evaluación de proveedores</p>
                                <p><i class="fas fa-check"></i>  Diseño e implementación de tableros de control (Balance Score Card)</p>
                                <p><i class="fas fa-check"></i>  Evaluación de sistemas de provisión de servicios</p>
                                <p><i class="fas fa-check"></i>  Toma de datos operativos online</p>
                                <p><i class="fas fa-check"></i>  Optimización de bombeo mecánico en pozos profundos</p>
                             </div> 
                          </div>
                        </div>
                    </div>
                </div>
              </div>
            </div>
          </div> 
        </div>
      </div>
</div>