<nav class="navbar navbar-expand-lg navbar-light fixed-top">
    <div class="container">
      <a class="navbar-brand" href="#">
        <img src="../../../assets/img/teraLogo.png" alt="" width="35" class="d-inline-block align-top" style="margin-right: 2%;">
        <strong>Tera Oilers</strong>
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown" style="margin-left: 40%;">
        <ul class="navbar-nav">
            <li class="nav-item mr-5">
                <a class="nav-link active" aria-current="page" href="#inicio">Inicio</a>
            </li>
          <li class="nav-item mr-5">
            <a class="nav-link" href="#empresa">Empresa</a>
          </li>
          <li class="nav-item mr-5">
            <a class="nav-link" href="#servicios">Servicios</a>
          </li>
          <li class="nav-item mr-5">
            <a class="nav-link" href="#clientes">Clientes</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#contacto">Contacto</a>
          </li>
        </ul>
      </div>
    </div>
</nav>