.navbar {
    background: #FF5900;
}

.navbar-brand {
    font-family: 'PT Serif', serif !important;
    font-size: 25px !important;
}

.navbar-collapse {
    font-family: 'PT Serif Caption', serif !important;
}

.nav-item {
    font-size: 18px;
}