<div style="background-color: #222;">
    <div class="container" style="padding: 2%;">
        <div class="row">
            <div class="col-sm-12 col-md-2">
                <img src="../../../assets/img/teraLogo.png" alt="Logo" width="70%" style="background: linear-gradient(#b2b2b2,rgb(138, 138, 138)); border-radius: 8%; margin-top: 6%;">
            </div>
            <div class="col-sm-12 col-md-6">
                <h1>Tera Oilers S.R.L</h1>
                <p style="text-align: justify;">Somos una empresa argentina formada por profesionales con amplia experiencia en la industria petrolera que presta servicios de consultoría y asesoría técnica, operativa, económica, y de gestión a empresas operadoras y prestadoras de servicio.</p>
            </div>
            <div class="col-sm-12 col-md-4">
                <h3>Contacto</h3>
                <ul>
                    <li>
                        (0299) 154-087-251
                    </li>
                    <li>
                        (0299) 155-154-862
                    </li>
                    <li>
                        (0297) 155-927-983
                    </li>
                    <li>
                        Calle 11 Casa 63, Rincon Club de Campo, Neuquén (8300)
                    </li>
                </ul>
            </div>
        </div>
        <div class="row">
            
        </div>
    </div>
</div>