<div style="background-color: #d2d1ff;" class="d-flex justify-content-center">
    <div class="card" style="width: 70rem; margin: 5%; background-color: #e8e8ff; box-shadow: 0px 5px 8px 0px gray; padding: 1% 2% 2% 2%;">
        <div class="card-body">
            <div class="row">
                <div class="col" style="text-align: center;">
                    <h1>Nuestros Clientes</h1>
                </div>
            </div>
          <div class="row mt-3" style="text-align: center;">
              <div class="col-sm-12 col-md-6">
                  <img src="../../../assets/img/clientes/petrobras.png" alt="petrobras" width="100%" style="padding: 2px;">
              </div>
              <div class="col-sm-12 col-md-6">
                <img src="../../../assets/img/clientes/pampa-energia.png" alt="pampa energia" width="100%" style="padding: 2px;">
            </div>
            <div class="col-sm-12 col-md-6">
                <img src="../../../assets/img/clientes/vista-oil-gas.png" alt="vista oil and gas" width="80%" style="padding: 2px;">
            </div>
            <div class="col-sm-12 col-md-6">
                <img src="../../../assets/img/clientes/clear-petroleum.png" alt="clear petroleum" width="80%" style="padding: 2px; filter: blur(0.7px);">
            </div>
          </div>  
        </div>
      </div>
</div>